<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Zarządzanie użytkownikiem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null,'add')" >Dodaj Użytkownika <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchEmployees(key?.value)" #key="ngModel" ngModel
        name="key" id="searchName" class="form-control mr-sm-2" placeholder="Szukaj Pracownika" required> 
     </form>
  </div>
</nav>
<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{employee?.first_name}}</h5>
              <h5>{{employee?.last_name}}</h5>
              <h5>ID: {{employee?.employee_id}}</h5>
              <p class="m-0">{{employee?.job_id}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone_number}}</li>
           <li class="list-group-item">Salary : {{employee?.salary}}</li>
           <li class="list-group-item">Commission PCT : {{employee?.commission_pct}}</li>
           <li class="list-group-item">Manager ID : {{employee?.manager_id}}</li>
           <li class="list-group-item">Department ID : {{employee?.department_id}}</li>
           <li class="list-group-item">Hire date : {{employee?.hire_date}}</li>
        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(employee,'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(employee,'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a> 
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
             <label for="first_name">First Name</label>
             <input type="text" ngModel name="first_name" class="form-control" id="first_name" placeholder="First Name" required>
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" ngModel name="last_name" class="form-control" id="last_name" placeholder="Last Name" required>
         </div>

          <div class="form-group">
             <label for="email">Email Address</label>
             <input type="text" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>

          <div class="form-group">
            <label for="phone_number">Phone number</label>
            <input type="text" ngModel name="phone_number" class="form-control" id="phone_number" placeholder="Phone" required>
          </div>

          <div class="form-group">
            <label for="hire_date">Hire date</label>
            <input type="date" ngModel name="hire_date" class="form-control" id="hire_date" placeholder="Hire date" required>
          </div>

          <div class="form-group">
             <label for="job_id">Job ID</label>
             <input type="text" ngModel name="job_id" class="form-control" id="job_id" placeholder="Job Id" required>
          </div>

          <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" ngModel name="salary" class="form-control" id="salary" placeholder="Salary" required>
          </div>

          <div class="form-group">
            <label for="commission_pct">Commissiont PCT</label>
            <input type="number" ngModel name="commission_pct" class="form-control" id="commission_pct" placeholder="Job Id" required>
          </div>

          <div class="form-group">
            <label for="manager_id">Manager ID</label>
            <input type="number" ngModel name="manager_id" class="form-control" id="manager_id" placeholder="Job Id" required>
          </div>

          <div class="form-group">
            <label for="department_id">Department ID</label>
            <input type="number" ngModel name="department_id" class="form-control" id="department_id" placeholder="Department ID" required>
          </div>
          

          <div class="modal-footer">
             <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div> 

<!-- Edit Modal -->
 <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.first_name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm" >
              <input type="hidden" ngModel="{{editEmployee?.employee_id}}" name="employee_id" class="form-control" id="employee_id">
              <div class="form-group">
                 <label for="first_name">First Name</label>
                 <input type="text" ngModel="{{editEmployee?.first_name}}" name="first_name" class="form-control" id="first_name" aria-describedby="emailHelp" placeholder="First Name">
              </div>

              <div class="form-group">
               <label for="last_name">Last Name</label>
               <input type="text" ngModel="{{editEmployee?.last_name}}" name="last_name" class="form-control" id="last_name" placeholder="Last Name" required>
              </div>
   
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email" required>
              </div>
   
              <div class="form-group">
               <label for="phone_number">Phone number</label>
               <input type="text" ngModel="{{editEmployee?.phone_number}}" name="phone_number" class="form-control" id="phone_number" placeholder="Phone" required>
              </div>
   
              <div class="form-group">
               <label for="hire_date">Hire date</label>
               <input type="date" ngModel="{{editEmployee?.hire_date}}" name="hire_date" class="form-control" id="hire_date" placeholder="Hire date" required>
              </div>
   
              <div class="form-group">
                <label for="job_id">Job ID</label>
                <input type="text" ngModel="{{editEmployee?.job_id}}" name="job_id" class="form-control" id="job_id" placeholder="Job Id" required>
              </div>
   
              <div class="form-group">
               <label for="salary">Salary</label>
               <input type="number" ngModel="{{editEmployee?.salary}}" name="salary" class="form-control" id="salary" placeholder="Salary" required>
              </div>
   
              <div class="form-group">
               <label for="commission_pct">Commissiont PCT</label>
               <input type="number" ngModel="{{editEmployee?.commission_pct}}" name="commission_pct" class="form-control" id="commission_pct" placeholder="Job Id" required>
              </div>
   
              <div class="form-group">
               <label for="manager_id">Manager ID</label>
               <input type="number" ngModel="{{editEmployee?.manager_id}}" name="manager_id" class="form-control" id="manager_id" placeholder="Job Id" required>
              </div>

              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>
<!-- Delete Modal -->
 <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Usuń użytkownika</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Czy napewno chcesz usunąć użytkownika {{deleteEmployee?.first_name}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">NIE</button>
              <button (click)="onDeleteEmployee(deleteEmployee?.employee_id)" class="btn btn-danger" data-dismiss="modal">TAK</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">BRAK PRACOWNIKÓW!</h4>
    <p>Nie znaleziono żadnego praconika.</p>
  </div>
  </div>